* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navbar-light: #60a5fa;
  
  --brand-pink: #e81a93;
  --bg-color: #0f172a;
  --logo-h3: #180f4a;
  --text-color-primary: #cfe0f5ff;
  --text-color-secondary: #092268;
  --white: #faf6f6ff;

  --color-blue: #1d4ed8;
  --text-color: #2e2e2e;
  --text-light: #475569;

  --font-family: "Roboto", sans-serif;
  --font-h3: "Lobster", cursive;
  --h1: 800 56px/135% var(--font-family);
  --h2: 800 36px/140% var(--font-family);
  --h3: 800 24px/140% var(--font-h3);
  --text-span: 600 14px/145% var(--font-family);
  --text: 400 16px/140% var(--font-family);
  --text-sm: 400 14px/160% var(--font-family);

  --transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 64px;
}

body {
  font: var(--text);
  color: var(--text-color-primary);
  background-color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--brand-color-light);
}

h1,
h2,
h3 {
  font: inherit;
}

p{
  font: inherit;
  line-height: 1.5;
  color: var(--text-color);
}

h3 {
  color: var(--brand-pink);
}
