/* ========== Container geral ========== */
.navbar-container {
  background: var(--nav-dark);
  border-bottom: 1px solid var(--stroke-color);
  font-family: var(--font-family);
  
}

/* ========== Navbar principal ========== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

/* Logo */
.logo h1 {
  font: var(--h3);
  color: var(--color-blue);
}

/* Menu */
.menu {
  display: flex;
  align-items: center;
  gap: 24px;
}

.menu a {
  color: var(--color-blue);
  font: var(--text);
  transition: var(--transition);
}

.menu a:hover {
  color: var(--brand-pink);
}

/* Botão de destaque */
#btn-contact {
  padding: 10px 20px;
  background-color: var(--brand-pink);
  color: var(--white);
  border-radius: 6px;
  transition: var(--transition);
}

#btn-contact:hover {
  background-color: var(--white);
  color: var(--brand-pink);
}



/* ========== Responsividade ========== */
@media (max-width: 900px) {
  .navbar {
    flex-direction: column;
    gap: 16px;
    padding: 20px;
  }

  .menu {
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar-secondary {
    flex-wrap: wrap;
    gap: 16px;
  }
}
